//footer
.footer {
    background-color: #363636;
    color: white;
    padding-top: 1rem;
    margin-bottom: 0;
    padding-bottom: 2rem;
    padding-top: 1rem;
    & ul {
        list-style: none;
        line-height: 1.5rem;
        margin-left: -1rem;
        margin-bottom: -0.5rem;
    }
    & li {
      & i {
        color: $white;
        margin-right: 12px;
        font-size: 12px;
      }
      & a {
        color: $white;
        text-decoration: none;
        &:visited {
          color: $white;
        }
      }
    }
    
}
.footer-logo {
  filter: invert(100%);
  width: 8rem;
  margin-left: 1.5rem;
  margin-top: 1rem;
}