.card_caption_heart {
    position: relative;
    padding: 0px;
    bottom: 10px;
    font-size: 25px;
    cursor: pointer;
    padding-right: 25px;
    .far {
        position: relative;
        left: 31px;
    }
    &:hover {
        .fas {
            transform: scale(1);
        }
    }
}
.fa-heart-animated {
    position: relative;
    color: $primaire;
    transform: scale(0);
    bottom: 0;
    font-weight: bold;
    transition-duration: 0.5s;
    transform-origin: center bottom;
}
.card_caption_heart-menu {
    position: relative;
    padding: 0px;
    bottom: 10px;
    font-size: 25px;
    cursor: pointer;
    padding-right: 25px;
    .far {
        position: relative;
        left: 10px;
        padding-top: 11px;
    }
}
@media screen and (max-width: 768px) {
    .pages-restaurants .card_caption_heart {
        padding-right: 0px;
        bottom: 6px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-width: 100px;
    }
}


