.instructions {
    padding-top: 2rem;
    margin-bottom: 3rem;
}
.instructions_btn {
    display: flex;
    flex-direction: row;
    background-color: #f6f6f6;
    margin: 1rem 1rem 1.5rem 1rem;
    padding: 1rem;
    box-shadow: 0px 4px 15px $shadow;
    border-radius: 18px 18px;
    text-align: center;
    height: 4rem;
    line-height: 2rem;
}
.instructions_btn_number {
    border-radius: 50%;
    background-color: $primaire;
    color: $white;
    position: relative;
    right: 28px;
    padding: 2px 10px;
}
.instructions_btn_number p {
    position: relative;
    bottom: 17px;
}
.primaire_st {
    background-color: lighten($primaire, 35%);
}
@media screen and (min-width:1024px) {
    .instructions {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        h2 {
            width: 100%;
        }
        & > div {
            width: 30%;
        }
    }
}

