// header
.header {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    & img {
      padding-bottom: 0px;
      margin-bottom: -15px;
    }
    & h1 {
      margin-top: 5px;
    }
}
.fa-arrow-left {
    position: relative;
    top: 20px;
    right: 45px;
    font-size: x-large;
} 
.restaurant img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}
.restaurant_name {
    border-top-left-radius: 40px 40px;
    border-top-right-radius: 40px 40px;
    transform: translateY(-80px);
    margin-bottom: -80px;
    padding: 5px 5vw;
    background-color: #f3f0f0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: large;
}
.restaurant_name h2 {
    font-family: shrikhand;
    margin-left: 0.5rem;
    font-weight: 200;
}
.menus {
    display: flex;
    flex-direction: column;
    padding: 0 0vw;
    background: #f3f0f0;
}
.menus h3 {
    padding-bottom: 0.3rem;
    margin: 0 7vw;
    font: inherit;
}
.menus h4, .menus p {
    padding: 0.25rem 5vw;
}
.menus h4 {
    margin-bottom: 0px;
    margin-top: 5px;
    font-size: larger;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    height: 38px;
}
.menus p {
    margin-bottom: 5px;
}
.underline-h3 {
    width: 41px;
    height: 0.25em;
    background-color: #99e2d0;
    margin: 0;
    padding: 0;
    margin-left: 7vw;
}
.menu_carte_entrees .card {
    animation-name: appear;
    animation-duration: 1000ms;
    animation-fill-mode: backwards;
}
@keyframes appear {
    from {
      transform: translateY(-100px);
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
.menu_carte_plats .card {
    animation-name: appear;
    animation-duration: 1000ms;
    animation-fill-mode: backwards;
}
@keyframes appear {
    from {
      transform: translateY(-100px);
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
.menu_carte_desserts .card {
    animation-name: appear;
    animation-duration: 1000ms;
    animation-fill-mode: backwards;
}
@keyframes appear {
    from {
      transform: translateY(-100px);
      opacity: 0;
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
.menu_carte_desserts .card {
    animation-delay: 1s;
}
.card {
    background-color: white;
    box-shadow: 2px 4px 6px lightgrey;
    border-radius: 20px 20px;
    height: fit-content;
    margin: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 2000ms;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}
.card_text {
    display: flex;
    white-space: nowrap;
    flex-direction: column;
    text-overflow: ellipsis;
    overflow: hidden;
    transition: all 700ms;
    width: 100%;
}
.card_text_description {
    flex: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.card_text_description p {
    margin-top: 2px;
    overflow: hidden;
    white-space: nowrap;
}
.card_text_description_ingredients {
    text-overflow: ellipsis;
}
.card_text_description_price {
    font-weight: bold;
}
.card_check {
    color: #f6f6f6;
    background-color: #99e2d0;
    font-size: xx-large;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 2.1em;
    white-space: nowrap;
    border-top-right-radius: 20px 20px;
    border-bottom-right-radius: 20px 20px;
    cursor: pointer;
    transition: all 700ms;
    width: 0px;
    i {
        margin-right: 0px;
    }
}
.card:hover > .card_check {
    background-color: #99e2d0;
    cursor: pointer;
    color: #f6f6f6;
    width: 25%;
}
.card:hover > .card_text {
    width: 75%;
}
.card:hover .fa-check-circle {
    transform: rotate(0deg);
} 
.fa-check-circle {
    transform: rotate(359deg);
    transition: transform 700ms;
}
.btn {
    align-self: center;
    margin: 2rem;
}
.button {
    display: flex;
    justify-content: center;
    background-color: #f3f0f0;
  }
  
  @media screen and (min-width: 1024px) {
    .menus {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
    .menus h3 {
      margin: 0 1rem;
    }
    .menus h4, .menus p {
      padding: 0.25rem 1rem;
    }
  
    .underline-h3 {
      margin-left: 1rem;
    }
  
    .card {
      max-width: 310px;
    }
    .card_text {
      padding: 0px;
    }
    .card_check {
      height: 77px;
    }
  }
  @media screen and (min-width: 1280px) {
    .card {
      max-width: 400px;
    }
  }
  .button {
    display: flex;
    justify-content: center;
  }

  



